.conteudo {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f4f4f4;
}

main {
    padding: 12rem;
}

h1, h2 {
    font-family: "Playfair Display", serif;
}

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

.album {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.album iframe {
    margin: 1rem;
    width: 500px;
}
