@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
}

.cabecalho {
    background-color: rgb(26, 25, 25);
    height: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}

.links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
    color: #ffd700;
    font-family: "Playfair Display", serif;
    font-size: medium;
    position: relative;
    padding-bottom: 5px;
}

.links a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffd700;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

.links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
